<div class="container">
  <!-- Navigation Menu -->
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <!-- View All Vehicles Button -->
        <li class="nav-item">
          <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="viewAllVehicles" (click)="viewVehiclesToBeReturned=true; viewAllVehicles=true; viewAllBookedVehicles=false; viewAllFreeVehicles=false; viewAllCustomers=false; addManager=false; launchConsole=false;">View All Vehicles</button>
        </li>
        <!-- View All Booked Vehicles Button -->
        <li class="nav-item">
          <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="viewAllBookedVehicles" (click)="viewAllVehicles=false; viewAllBookedVehicles=true; viewAllFreeVehicles=false; viewAllCustomers=false; addManager=false; launchConsole=false;">View All Booked Vehicles</button>
        </li>
        <!-- View All Free Vehicles Button -->
        <li class="nav-item">
          <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="viewAllFreeVehicles" (click)="viewAllVehicles=false; viewAllBookedVehicles=false; viewAllFreeVehicles=true; viewAllCustomers=false; addManager=false; launchConsole=false;">View All Free Vehicles</button>
        </li>
        <!-- View All Customers -->
        <li class="nav-item">
          <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="viewAllCustomers" (click)="viewAllVehicles=false; viewAllBookedVehicles=false; viewAllFreeVehicles=false; viewAllCustomers=true; addManager=false; launchConsole=false;">View All Customers</button>
        </li>
        <!-- Add Manager Button -->
        <li class="nav-item">
          <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="addManager" (click)="viewAllVehicles=false; viewAllBookedVehicles=false; viewAllFreeVehicles=false; viewAllCustomers=false; addManager=true; launchConsole=false;">Add Manager</button>
        </li>
        <!-- Launch Console Button -->
        <li class="nav-item">
          <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="launchConsole" (click)="viewAllVehicles=false; viewAllBookedVehicles=false; viewAllFreeVehicles=false; viewAllCustomers=false; addManager=false; launchConsole=true;">Launch Console</button>
        </li>
        <!-- LogOut Button -->
        <li class="nav-item">
            <button mat-button class="m-1 btn btn-light btn-outline-primary" Button label="logout" (click)="logOut()">Logout</button>
          </li>
      </ul>
    </nav>
    <app-view-all-vehicles-admin *ngIf="viewAllVehicles"></app-view-all-vehicles-admin>
    <app-view-all-booked-vehicles-admin *ngIf="viewAllBookedVehicles"></app-view-all-booked-vehicles-admin>
    <app-view-all-free-vehicles-admin *ngIf="viewAllFreeVehicles"></app-view-all-free-vehicles-admin>
    <app-view-all-customers-admin *ngIf="viewAllCustomers"></app-view-all-customers-admin>
    <app-add-manager-admin *ngIf="addManager"></app-add-manager-admin>
    <app-launch-console-admin  *ngIf="launchConsole"></app-launch-console-admin>
</div>
