<mat-form-field appearance="outline">
  <mat-label>Please enter filter</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8 data-table">
<table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
  <!-- Plate Number Column -->
  <ng-container matColumnDef="plateNumber" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Plate Number</th>
    <td mat-cell *matCellDef="let row">{{row.plateNumber}}</td>
  </ng-container>

  <!-- Booked Date Column -->
  <ng-container matColumnDef="bookedDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Booked Date</th>
    <td mat-cell *matCellDef="let row">{{row.bookedDate}}</td>
  </ng-container>

  <!-- Pick Up Date Column -->
  <ng-container matColumnDef="pickUpDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pick Up Date</th>
    <td mat-cell *matCellDef="let row">{{row.pickUpDate}}</td>
  </ng-container>

   <!-- Drop Off Date Column -->
   <ng-container matColumnDef="dropOffDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Drop Off Date</th>
    <td mat-cell *matCellDef="let row">{{row.dropOffDate}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
<mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 20]"> </mat-paginator>

</div>
